window {
    margin: 0px;
    border: 1px solid #99FF00;
    border-radius: 8px;
    background-color: #1a1a1a;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#input {
    margin: 8px;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #99FF00;
    background-color: #2a2a2a;
    color: #ffffff;
    border-radius: 4px;
}

#input:focus {
    border-bottom: 2px solid #99FF00;
}

#entry:selected {
    background-color: #99FF00;
    color: #000000;
    border-radius: 4px;
}

#text {
    margin: 8px;
    color: #ffffff;
}

#text:selected {
    background-color: #99FF00;
    color: #000000;
}
